*{
    padding: 0%;
    margin: 0%;
}

/*Mobiel width 360 x 640px (Moto G4)*/
@media only screen and (min-width: 320px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

    }
    .klok{
        margin-top: 15%;
        background-color: rgba(188, 19, 19, 0.95);
        border-radius: 50%;
        width: 200px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 7px 2px 10px black;
    }

    #weer{
        width: 20%;
        position: absolute;
        top: 20%;
        left: 40%;
        animation: circle 60s linear infinite;
    }

    @keyframes circle{
        0%{
        transform:rotate(0deg)
                    translate(-130px)
                    rotate(0deg);
        
        }
        100%{
        transform:rotate(360deg)
                    translate(-130px)
                    rotate(-360deg);
        }
    }
    
    #time{
        color: whitesmoke;
        font-size: 60px;
        font-family: 'Arvo', serif;
        text-align: center;
        padding-top: 25%;
    }

    #date{
        font-size: 20px;
        font-family: 'Arvo', serif;
        text-align: center;
    }

    h1 {
        font-size: 40px;
        color: white;
        font-family: 'Akaya Telivigala', cursive;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 2%;
        padding: 2%;
        position: relative;
        text-shadow: 2px 2px 8px black;
    }

    h2{
        text-align: center;
        font-size: 25px;
        margin-bottom: 2%;
    }

    #icon{
        animation: shake 1s;
        animation-iteration-count: 10;
    }

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
    button{
        font-size: 120%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 10px;
        background-color: #448FFF;
        color: white;
        border: none;
        border-radius: 60px;
        font-family: 'Arvo', serif;
    }

    .button:hover {
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .map{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: none;
    }

    .logo{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        animation: slidein 3s;
    }
    @keyframes slidein {
        from { transform: scaleX(0); }
        to   { transform: scaleX(1); }
    }

    .left{
        display: flex;
        flex-direction: column;
    }
    .right{
        display: flex;
        flex-direction: column;
    }
}
/*Tablet width 768 x 1024px (Ipad)*/
@media only screen and (min-width: 600px) {
    body{
        width: 100vw;
        overflow: hidden;
    }
    .klok{
        margin-top: 10%;
         width: 350px;
        height: 350px;
    }
    #weer{
        width: 15%;
        margin-top: -2%;
        left: 45%;
        animation: circle 60s linear infinite;
    }

    @keyframes circle{
        0%{
        transform:rotate(0deg)
                    translate(-220px)
                    rotate(0deg);
        
        }
        100%{
        transform:rotate(360deg)
                    translate(-220px)
                    rotate(-360deg);
        }
    }
    #time{
        font-size: 80px;
    }

    #date{
        font-size: 35px;
    }

    h1 {
        font-size: 60px;
        margin-top: 5%;
        padding: 2%;
    }

    h2{
        font-size: 30px;
        margin-bottom: 0%;
    }

    button{
        font-size: 25px;
        margin-bottom: 5%;
        margin-top: 0%;
        padding: 15px;
        border-radius: 60px;
        font-family: 'Arvo', serif;
    }

    .map{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .logo{
        width: 35%;
        margin-top: 0%;
        animation: slidein 3s;
    }
    
}
/* laptop width 1280px */
@media only screen and (min-width: 1024px) {
    body{
        width: none;
        background-repeat: no-repeat;
         background-size: cover;
        height: 100vh;
        overflow: hidden;
        }

    @keyframes circle{
        0%{
        transform:rotate(0deg)
                    translate(-180px)
                    rotate(0deg);
        
        }
        100%{
        transform:rotate(360deg)
                    translate(-180px)
                    rotate(-360deg);
        }
    }
    #time{
        font-size: 80px;
    }

    #date{
        font-size: 35px;
    }

    #weer{
        width: 10%;
        position: absolute;
        top: 25%;
        left: 22%;
        animation: circle 3s linear infinite;
    }

    h1 {
        font-size: 60px;
        margin-top: 5%;
        padding: 2%;
    }

    h2{
        font-size: 50px;
        margin-bottom: 5%;
    }

    button{
        font-size: 20px;
        margin-bottom: 5%;
        margin-top: 0%;
        padding: 15px;
        border-radius: 60px;
        font-family: 'Arvo', serif;
    }

    .map{
        margin-top: 0%;
        width: 80%;
        display: inline;
        float: left;
    }

    .logo{
        width: 25%;
        margin-top: 5%;
        animation: slidein 3s;
    }

    .klok{
        margin-top: 15%;
        width: 300px;
        height: 300px;
    }
    
    .flex-container{
        flex-direction: row-reverse;
    }
    .flex-container >.right {
        display: flex;
        flex-direction: column-reverse;
        margin-right: 0%;
    }
  
    .flex-container > .left {
        float: left;
        margin-right: 0%;
        margin-left: 0%;
        
    }
}


@media only screen and (min-width: 1280px) {

    @keyframes circle{
        0%{
        transform:rotate(0deg)
                    translate(-190px)
                    rotate(0deg);
        
        }
        100%{
        transform:rotate(360deg)
                    translate(-190px)
                    rotate(-360deg);
        }
    }
    #weer{
        width: 7%;
        position: absolute;
        top: 27%;
        left: 15%;
        animation: circle 3s linear infinite;
    }
}

@media only screen and (min-width: 1920px) {

    @keyframes circle{
        0%{
        transform:rotate(0deg)
                    translate(-240px)
                    rotate(0deg);
        
        }
        100%{
        transform:rotate(360deg)
                    translate(-240px)
                    rotate(-360deg);
        }
    }
    #weer{
        width: 7%;
        position: absolute;
        top: 27%;
        left: 17%;
        animation: circle 60s linear infinite;
    }
    .klok{
        margin-top: 20%;
         width: 400px;
        height: 400px;
    }
    .flex-container > .left {
        float: left;
        margin-right: 0%;
        margin-left: 5%;
        
    }

}